<div class="row about-content about-content--timeline">

    <div class="col-full text-center">
        <h3>My Work And Project Experiences.</h3>
    </div>

    <div class="col-six tab-full left">
        <div class="timeline">

            <div class="timeline__block">
                <div class="timeline__bullet"></div>
                <div class="timeline__header">
                    <p class="timeline__timeframe">June 2024 - August 2024</p>
                    <h3>NTT DATA BUSINESS SOLUTIONS</h3>
                    <h5>FullStack Developer INTERN</h5>
                </div>
                <div class="timeline__desc">
                    <p>I created a multi-layered architecture project using C# .Net Core and Blazor, WebAPI, Entity Framework technologies. I created a very basic website using Blazor.</p>
                </div>
            </div> <!-- end timeline__block -->

            <div class="timeline__block">
                <div class="timeline__bullet"></div>
                <div class="timeline__header">
                    <p class="timeline__timeframe">September 2022 - June 2024</p>
                    <h3>BALIKESIR UNIVERSITY</h3>
                    <h5>STUDENT</h5>
                </div>
                <div class="timeline__desc">
                    <p>I was a student at Balikesir University. I learned C# intensively. I made various applications. I improved myself in subjects such as SQL, Python, artificial intelligence testing, C#, Flutter, HTML, CSS, JS..</p>
                </div>
            </div> <!-- end timeline__block -->

        </div> <!-- end timeline -->


   


</div>