@model Experience
@{
    ViewData["Title"] = "CreateExperience";
    Layout = "~/Views/Layout/Index.cshtml";
}

<h1>CreateExperience</h1>


<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Experiences</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Experience Adding Page </div>
					</div>
					<div class="card-body">
						
						<form method="post">
							<label>Company Information</label>
							<input type="text" asp-for="Head" class="form-control" />
							<br />
							<label>Position Held</label>
							<input type="text" asp-for="Title" class="form-control" />
							<br />
							<label>Date Range</label>
							<input type="text" asp-for="Date" class="form-control" />
							<br />
							<label>Explanation</label>
							<textarea rows="4" class="form-control" asp-for="Description"></textarea>

							<br />
							<button class="btn btn-primary">Add Experience</button>
						</form>
						<a href="/Experience/CreateExperience/" class="btn btn-info">New Experience Entry</a>
					</div>
				</div>


			</div>

		</div>
	</div>
</div>

